body {
  margin: 0;
  font-family: 'LineToCircular';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'LineToCircular';
  src: url('static/fonts/lineto-circular-pro-book.woff2') format('woff2'),
  url('static/fonts/lineto-circular-pro-book.woff') format('woff'),
  url('static/fonts/lineto-circular-pro-book.ttf')  format('truetype');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
